@mixin go-flex($dir: row, $wrap: nowrap, $justify: center, $align: center) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin w-h($width, $height) {
  width: $width;
  height: $height;
}
